@import "~materialize-css/dist/css/materialize.min.css";


input.yellow-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

input {
  color: white;
}

input.input + label {
  color: #ffffff!important;
}

input.input:focus + label {
  color: #FF4C33!important;
}

input.input:focus {
  border-bottom: 1px solid #FF4C33!important;
  box-shadow: 0 1px 0 0 #FF4C33!important;
}
